parameters:
    level: max
    scanFiles:
        - src/lib/domain-tables.php
        - src/lib/domains-ajax.php
    paths:
        - seravo-plugin.php
        - src/
    bootstrapFiles:
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - seravo-plugin.php
    excludes_analyse:
        # TODO: remove excludes
        - src/lib/domain-tables.php
        - src/lib/domains-ajax.php
        - src/lib/list-table.php
    dynamicConstantNames:
        - SERAVO_PLUGIN_DEBUG
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        - '#^Function current_user_can invoked with \d parameters, 1 required\.$#'
        - '#^Function wp_sprintf invoked with \d parameters, 1 required\.$#'
        - '#^Function add_query_arg invoked with 2 parameters, 0 required\.$#'
        # Defined in wp-config.php
        - '#^Constant WP_LANG_DIR not found\.$#'
        # Uses function_exists()
        - '#^Function jetpack_protect_get_ip not found\.$#'
        # TODO: Remove this temp fix caused by \get_sites()
        - '#^Argument of an invalid type array\|int supplied for foreach, only iterables are supported\.$#'
    reportUnmatchedIgnoredErrors: false
    # TODO: Remove after 5.6/7.0 not supported at all
    checkMissingClosureNativeReturnTypehintRule : false
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
