@media only screen and (min-width: 1500px) {
  #wpbody-content #dashboard-widgets .postbox-container {
    width: 50%;
  }
}
.js .widget .widget-top, .js .postbox .hndle {
  cursor: pointer;
}
.inside {
  padding: 20px!important;
}
p {
  margin: 0;
}
.postbox .inside {
  margin: 0!important;
}
.inside {
  padding: 20px!important;
}
.create_backup {
  margin-top: 20px;
}
pre {
  overflow: auto;
  padding-bottom: 15px;
}
/* Scrollbar on mobile*/
::-webkit-scrollbar {
  -webkit-appearance: none;
}
::-webkit-scrollbar:horizontal {
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #dddede;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #dddede;
}
