.cruft-area {
  overflow-y: auto;
  max-height: 50vh;
  max-width: 100%;
}

.cruft-table {
  width: 100%;
  table-layout: fixed;
}

.cruft-table td.cruft-checkbox-col {
  width: 10px;
}

.cruft-table td.cruft-title {
  background-color: #F9F9F9;
  font-weight: 600;
  height: 30px;
  padding-left: 5px;
}

.cruft-area button.cruft-delete {
  margin-bottom: 10px;
}

.cruft-area img.cruft-spinner {
  display: none;
  position: relative;
  top: 4px;
  left: 5px;
}

.cruft-area .cruft-error {
  color: red;
}
