.crufttheme-delete-button {
  background: #DA534F;
  border-radius: 3px;
  border-color: #AA5955;
  box-shadow: 0 1px 0 #AA5955;
  color: #ffffff;
  cursor: pointer;
  height: 28px;
  line-height: 22px;
  margin-top: 20px;
  padding: 0 10px 1px;
}

.cruft-delete-button {
  background: #DA534F;
  border-radius: 3px;
  border-color: #AA5955;
  box-shadow: 0 1px 0 #AA5955;
  color: #ffffff;
  cursor: pointer;
  height: 28px;
  line-height: 22px;
  margin-top: 20px;
  padding: 0 10px 1px;
}

.cruft-plugin-td, .cruft-themes-td {
  width: 100%;
}

.cruft-tool-selector {
  background-color: #F9F9F9;
  font-weight: 600;
  height: 45px;
}

.cruft-theme-table {
  border-bottom: 2px solid black;
}

.crufttheme {
  flex-direction: row;
  padding: 1px 1px 1px 1px;
}

.crufttheme-child {
  border-top: none;
}

.crufttheme-delete {
  padding-right: 10px;
}

.crufttheme[data-active="true"] {
  display: none;
}

[data-childs="true"] .crufttheme-path {
  padding-top: 1em;
  font-weight: bold;
}

/* If theme has children, hide the checkbox so the parent cannot be deleted */
[data-childs="true"] .crufttheme-delete input {
  display: none;
}
