.cruftfile-delete-button {
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 1px 0 #cccccc;
  color: #555;
  cursor: pointer;
  height: 28px;
  line-height: 22px;
  margin-top: 20px;
  padding: 0 10px 1px;
}

.cruftfile-delete-button:hover {
  box-shadow: none;
  color: #EA6161;
  outline: none;
}

.cruftfile-delete-button:active,
.cruftfile-delete-button:focus,
.cruftfile-delete-button:visited {
  box-shadow: none;
  color: #a00;
  outline: none;
}

.cruft-plugin-set {
  padding-top: 15px;
}

.postbox-container-max {
  width: 100%;
}

.cruft-tool-selector {
  background-color: antiquewhite;
}

table {
  border: collapse;
}

.cruft-theme-table {
  border-bottom: 2px solid black;
}

.crufttheme {
  border-top: 2px solid black;
  display: flex;
  padding: 1px 1px 1px 1px;
}

.crufttheme-child {
  border-top: none;
}

.child-delete-button {
  margin-left: 30px;
}

table {
border: collapse;
}

.cruft-theme-table {
  border-bottom: 2px solid black;
}

.crufttheme {
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  padding: 1px 1px 1px 1px;
}

.crufttheme-child {
  border-top: none;
}

/* TODO check this  */
.child-delete-button {
  margin-left: 30px;
}

.cruft-button-hide {
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px) !important;
  color: #CCC;
}

.cruft-highlight {
  background: red !important;
}

.crufttheme-delete {
  padding-right: 10px;
}

@media only screen and (max-width: 1025px) {
  .label_buttons {
    display: block;
  }
  .to_button,
  .adminer_button {
    padding-top: 15px;
  }
  .optionboxes {
    padding-left: 10%;
  }
  .to_label {
    padding-right: 15%;
  }
  .from_label {
    padding-right: 10%;
  }
}
