.seravo-wb-db-info-table {
  margin-bottom: 1rem;
}

.seravo-wb-db-info-table td {
  padding-right: 1rem;
}

.sr-navbar .optionboxes li {
  display: inline-block;
  margin-right: 1rem;
}

.sr-navbar .optionboxes li label {
  vertical-align: baseline;
}

#sr-from {
  margin-right: 1rem;
}

/* For adminer button dashicon to be in line with the text */
span.dashicons-external {
  line-height: 1.4;
  padding-left: 3px;
}

@media only screen and (max-width: 376px) {
  canvas {
    height: 198px!important;
    margin: auto;
    width: 253px!important;
  }

  #sr-to {
    margin-right: 1rem;
  }
}
