@media only screen and (min-width: 1500px) {
  #wpbody-content #dashboard-widgets .postbox-container {
    width: 100%;
  }
}

.seravo-section {
  margin-bottom: 15px !important;
}

.domains {
  border: none !important;
  margin-top: 50px;
}

#zone-table {
  border: 1px solid #dddede;
  width: 100%;
}

.dns-wrapper {
  max-height: 500px;
  max-width: 100%;
  overflow-y: scroll;
  margin-bottom: 12px;
  padding: -1px;
  border: 1px solid #dddede;
  background-color: #dddede;
}

#zone-edit-table textarea {
  font-size: 12px;
}

#domains-table-spinner {
  margin: 2.5em 0 1em 0;
}

#domains-table-spinner > img {
  position: relative;
  top: 4px;
  margin-right: 8px;
}

.sort-spinner {
  float: right;
}

.action-spinner {
  position: relative;
  top: 2px;
  left: 10px;
  width: 12px;
  height: 12px;
}

.update-time {
  margin-top: 20px !important;
}

.row-actions {
  margin-top: 5px;
}

p.row-title {
  margin: 2px 0 0 0 !important;
}

.action-link-disabled {
  color: #595959;
}

.action-link-disabled:hover {
  color: #737373;
}

.pre-action-row {
  display: none;
}

.zone-success-wrapper {
  font-family: monospace;
  font-size: 12px;
  color: #32373c;
  background-color: #fff;
  border: 1px solid #7e8993;
  border-radius: 4px;
  overflow: auto;
  padding: 2px 6px;
  line-height: 1.42857143;
  resize: vertical;
  width: 100%;
  height: calc(1.42857143em * 15);
}

#zone-edit-response p {
  margin-bottom: 5px;
}

.continue-button {
  line-height: 1.2em;
  padding: 2px 14px;
  margin-right: 5px;
  color: #0071a1;
  border-color: #0071a1;
  border-radius: 4px;
  vertical-align: middle;
  background: #f3f5f6;
}

.continue-edit-spinner {
  float: right;
  width: 10px;
  margin: 2px 0 0 5px;
}

#primary-domain-cancel, #primary-domain-proceed {
  float: right;
  margin-top: 10px;
}

#primary-domain-cancel {
  margin-right: 10px;
}

.primary-spinner {
  position: relative;
  top: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 782px) {
  .action-row, .action-row td {
    display: table-cell !important;
  }
  .row-actions {
    display: block !important;
  }
}

tr.zone-titles > th {
  position: sticky;
  top: 0;
  background-color: #ededed;
  font-weight: bold;
}
