/**
 * Log viewer
 */

.log-viewer-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  border: 1px solid #c3c4c7;
}

.log-viewer-wrapper ::-webkit-scrollbar-track, .log-viewer-wrapper ::-webkit-scrollbar {
  border-radius: 0;
}


/**
 * Side menu
 */

.log-menu-wrapper {
  height: 100%;
  overflow-y: scroll;
  background-color: white;
}

.log-menu > ul {
  margin: 0;
  list-style-type: none;
}

.log-menu > ul > li {
  margin: 2px 0 2px 0;
}

.log-menu-entry {
  width: 100%;
  min-width: 180px;
  padding-right: 0;
  font-size: 1.3em;
  border: none !important;
  border-radius: 0 !important;
  border-left: 4px solid transparent !important;
}

.log-menu-entry.selected, .log-menu-entry:hover {
  border-left: 4px solid !important;
  font-weight: bold;
}


/**
 * Log view
 */

.log-view-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100%;
  /* WTF? Don't remove or everything breaks. The
     value can be anything but must be something. */
  width: 0;
}

.log-view {
  flex: 1;
  overflow: scroll;
  border-top: 1px solid #c3c4c7;
  border-bottom: 1px solid #c3c4c7;
}

table.log-table {
  width: 100%;
  font-family: monospace;
  white-space: nowrap;
}

table.log-table td {
  padding: 0 0 0 5px;
  vertical-align: top;
}

.log-table td span.highlight {
  background-color: #ff0;
}

table.log-table td:hover {
  background-color: #44A1CB;
  color: white;
  cursor: pointer;
}


/**
 * Top filter bar
 */

.filter-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
}

.log-view-date {
  display: flex;
  height: min-content;
  padding-left: 4px;
  word-spacing: -3px;
}

.log-view-date > .log-date-input {
  margin: 0 !important;
  border-radius: 0 !important;
  border: 1px solid grey !important;
  text-align: center;
  color: black !important;
}

.log-view-date > .log-date-pick {
  border-radius: 0;
}

.log-view-date > .log-date-pick.disabled {
  border-color: grey !important;
}

.log-view-date > .log-date-pick.date-previous {
  border-right: 0 !important;
}

.log-view-date > .log-date-pick.date-next {
  border-left: 0 !important;
}

.log-view-search {
  padding-right: 4px;
}

.log-view-search > button {
  margin-left: 2px !important;
}


/**
 * Loading spinner
 */

.log-view-spinner {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-position: center;
  background-color: rgba(220, 220, 220, 128);
}

.log-view-spinner > img {
  margin: 0 auto;
}


/**
 * Bottom bar
 */

.info-bar-wrapper {
  padding-left: 10px;
  word-wrap: anywhere;
}
