.seravo-mails-postbox {
  max-width: 45%;
  padding: 15px 15px;
}

@media screen and (max-width:1600px) {
  .seravo-mails-postbox {
    max-width: 75%;
  }
}

@media screen and (max-width:1200px) {
  .seravo-mails-postbox {
    max-width: 100%;
  }
}
