#wpadminbar #wp-admin-bar-nginx-helper-purge-all .ab-item .seravo-purge-cache-icon {
  padding: 0px !important;
  margin-top: 5px;
  transform-origin: center center;
}
#wp-admin-bar-nginx-helper-purge-all .ab-item:hover {
  cursor: pointer;
}
#wpadminbar #wp-admin-bar-nginx-helper-purge-all .ab-item .seravo-purge-cache-icon:before {
  content: "\f463";
}
#wpadminbar #wp-admin-bar-nginx-helper-purge-all .spin {
  animation: purge-cache-spin 1.2s infinite;
  animation-timing-function: linear;
}

@moz-keyframes purge-cache-spin {
  0% {
    transform: rotate( 0deg );
  }
  100% {
    transform: rotate( 360deg );
  }
}
@webkit-keyframes purge-cache-spin {
  0% {
    transform: rotate( 0deg );
  }
  100% {
    transform: rotate( 360deg );
  }
}
@keyframes purge-cache-spin {
  0% {
    transform: rotate( 0deg );
  }
  100% {
    transform: rotate( 360deg );
  }
}
