#wpadminbar #wp-admin-bar-nginx-helper-purge-all .ab-item .seravo-purge-cache-icon {
  transform-origin: center center;
}

#wp-admin-bar-nginx-helper-purge-all .ab-item:hover {
  cursor: pointer;
}

#wpadminbar #wp-admin-bar-nginx-helper-purge-all .ab-item .seravo-purge-cache-icon:before {
  content: "\f463";
}

#wpadminbar #wp-admin-bar-nginx-helper-purge-all .spin {
  animation: purge-cache-spin 1.2s infinite;
  animation-timing-function: linear;
}

@moz-keyframes purge-cache-spin {
  0% {
    transform: rotate( 0deg );
  }
  100% {
    transform: rotate( 360deg );
  }
}

@webkit-keyframes purge-cache-spin {
  0% {
    transform: rotate( 0deg );
  }
  100% {
    transform: rotate( 360deg );
  }
}

@keyframes purge-cache-spin {
  0% {
    transform: rotate( 0deg );
  }
  100% {
    transform: rotate( 360deg );
  }
}

@media screen and (max-width:782px) {
  #wp-admin-bar-nginx-helper-purge-all {
    display: block !important;
  }
  #wpadminbar #wp-admin-bar-nginx-helper-purge-all .ab-item .seravo-purge-cache-icon {
    margin-top: 0px;
  }
  #wpadminbar #wp-admin-bar-nginx-helper-purge-all .ab-item .seravo-purge-cache-icon:before {
    height: 45px;
    line-height: 53px;
    top: -3px;
    width: 52px;
  }
}
