.login_info_table {
  table-layout: fixed;
  width: 100%;
}

.login_info_th {
  text-align: left;
}
.ip_tooltip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.username_tooltip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
