.login_info_table {
  table-layout: fixed;
  width: 100%;
}

.login_info_th {
  text-align: left;
}
.seravo-tooltip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.seravo_field_description {
  font-weight: normal;
  font-size: 0.8em;
}
