.seravo-postbox .inside {
  padding: 10px 20px 20px 20px;
}

.seravo-postbox .inside pre {
  overflow: auto;
  padding-bottom: 15px;
}

.seravo-postbox .inside td {
  padding-right: 15px;
}

.seravo-postbox .seravo-section {
  margin-bottom: 2.5rem;
}

/* Scrollbar on mobile*/
.seravo-postbox ::-webkit-scrollbar {
  -webkit-appearance: none;
}

.seravo-postbox ::-webkit-scrollbar:horizontal {
  height: 12px;
}

.seravo-postbox ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #dddede;
}

.seravo-postbox ::-webkit-scrollbar-track {
  background-color: #dddede;
  border-radius: 10px;
}

@media only screen and (min-width:1430px) {
  .seravo-postbox .inside {
    padding: 10px 15px 0px 15px;
    margin: 0;
  }
}

@media only screen and (max-width: 1431px) {
  .seravo-postbox .hideMobile {
    font-size: 0px;
  }
}

#dashboard-widgets .postbox-container.two-column-layout {
  width: 1050px;
}

@media only screen and (max-width: 2300px) {
  #dashboard-widgets .postbox-container.two-column-layout {
    width: 49.5%;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1800px) {
  #wpbody-content #dashboard-widgets #postbox-container-1.two-column-layout {
    width: 50.5%;
  }

  #wpbody-content #dashboard-widgets .postbox-container.two-column-layout {
    width: 49.5%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1499px) {
  #wpbody-content #dashboard-widgets .postbox-container.two-column-layout {
    width: 49.5%;
  }

  #wpbody-content #dashboard-widgets #postbox-container-2.two-column-layout {
    width: 50.5%;
  }
}

#dashboard-widgets .postbox-container.one-column-layout {
  width: 2100px;
}

@media only screen and (max-width: 2300px) {
  #dashboard-widgets .postbox-container.one-column-layout {
    width: 100%;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1800px) {
  #wpbody-content #dashboard-widgets #postbox-container-1.one-column-layout {
    width: 100%;
  }

  #wpbody-content #dashboard-widgets .postbox-container.one-column-layout {
    width: 100%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1499px) {
  #wpbody-content #dashboard-widgets .postbox-container.one-column-layout {
    width: 100%;
  }

  #wpbody-content #dashboard-widgets #postbox-container-1.one-column-layout {
    width: 100%;
  }
}
