#wpadminbar #wp-admin-bar-speed-test .ab-item .seravo-speed-test-icon {
  transform-origin: center center;
}

#wp-admin-bar-speed-test .ab-item:hover {
  cursor: pointer;
}

#wpadminbar #wp-admin-bar-speed-test .ab-item .seravo-speed-test-icon:before {
  content: "\f226";
}

#wpadminbar #wp-admin-bar-speed-test-blocked .ab-item .seravo-speed-test-icon:before {
  content: "\f226";
}

#wpadminbar #wp-admin-bar-speed-test-blocked .ab-item .seravo-speed-test-icon {
  transform-origin: center center;
}

#wp-admin-bar-speed-test-blocked .ab-item:hover {
  cursor: default;
}

#wp-admin-bar-speed-test-menu .ab-item:hover {
  cursor: default;
}
